<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="container chat-section">
        <div class="brand">
            <img height="60" src="/icon.png" alt="">
            <h1>MeChat</h1>
        </div>
        <div class="message-area">

        </div>
        <div class="text-send mb-2">
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message.."></textarea>
            <button type="button" class="ml-2 btn btn-lg btn-send"><i
                    class="fab fa-telegram-plane"></i></button>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>

</html>